<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <!-- <h4>
      <b style="font-weight: 600;">Umpires  </b>
    </h4>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/home/dashboard']" routerLinkActive="active"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Umpires</li>
    </ol> -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Umpires</h3>
        <label class="pull-right" style="display: inline-flex;">
          <input type="search" class="form-control input-sm" [(ngModel)]="search"
            (keyup)="searchTasks($event.target.value)" placeholder="Search..." aria-controls="example1">&nbsp;<button
            class="btn btn-default btn-sm" type="button" (click)="addUmpire()">
            + <span>Add New</span>
          </button>&nbsp;
        </label>
      </div>
      <div class="box-body">
        <!-- <div class="row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
        <div class="box-footer clearfix no-border">
          <button type="button" class="btn btn-primary pull-right">Print</button>
        </div>
      </div>
    </div> -->
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
            <div class="col-md-12">
              <div class="box-body no-padding">
                <div class="table-responsive">
                  <table class="table table-bordered ">
                    <thead>
                      <tr>
                        <th style="width:10px">Sr.No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>DOB</th>
                        <th>Age(Yr's)</th>
                        <th>Sports</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="umpireList">
                      <tr *ngIf="umpireList?.length === 0">
                        <td colspan="9" class="text-center"><b style="font-size: large;" class="text-muted">No records
                            found</b></td>
                      </tr>
                      <tr *ngFor="let item of umpireList.data; let i=index">
                        <td style="width:10px">{{i+1}}</td>
                        <td>{{item.umpire_name}}</td>
                        <td>{{item.umpire_email}}</td>
                        <td>{{item.umpire_mobile}}</td>
                        <td>{{item.birth_date | date: 'dd MMM yyyy'}}</td>
                        <td>{{item.umpire_age}}</td>
                        <td>
                          <span style="flex-wrap: wrap;
                          display: flex;
                          align-content: stretch;
                          flex-direction: row;
                          justify-content: flex-start;width: 252px;  margin: 0 !important;padding: 0 !important;">
                          <ul *ngFor="let data of item.sportDetails" style="padding:3px!important;list-style: none;">
                            <li><span class="badge badge-primary" style="background-color: #3c8dbc;" >{{data.sport_name}}</span></li>
                          </ul>
                          </span>
                        </td>
                        <td *ngIf="item.is_active=='Active'" class="status-active"><small
                            class="badge badge-success"><small>Active</small></small></td>
                        <td *ngIf="item.is_active=='Inactive'" class="status-inactive"><small
                            class="badge badge-danger"><small>Inactive</small></small></td>
                        <td *ngIf="item.is_active=='' || item.is_active==null"></td>
                        <td>
                          <a class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top"
                            title="Update Umpire" (click)="editUmpires(item)">
                            <i class="fa fa-pencil"></i>
                          </a>&nbsp;
                          <a class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top"
                            title="Delete Umpire" (click)="deleteUmpires(item)">
                            <i class="fa fa-trash"></i>
                          </a>&nbsp;
                          <a class="btn btn-primary btn-xs" (click)="addSport(item)" role="button">Sports</a>&nbsp;
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <app-pagination *ngIf="umpireList?.data" [currentPage]="currentPage" [perPage]="perPage"
                  [total]="totalItems" [lastPage]="umpireList.totalPagess" (loadPage)="pager($event)"
                  (changePerPage)="changePerPage($event)">
                </app-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </section>
</div>

<div class="control-sidebar-bg"></div>
<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 25px; color: white"><strong>Loading...</strong></p>
</ngx-spinner> -->