<div class="login-box">
  <div class="login-logo">
    <a href=""><b>EDU </b>SYSTEM</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Forget Password </p>
    <form role="form">
      <div class="form-group has-feedback" [ngClass]="displayFieldCss('email')">
        <input type="text" class="form-control" placeholder="Enter Email-Id" autocomplete="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Email is required">
        </app-field-error-display>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <a [routerLink]="['/login']">Go to Login</a>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="button" class="btn btn-primary btn-block btn-flat" (click)="add()"
            [disabled]="isWebRequest">Submit</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


    <!-- /.social-auth-links -->


  </div>
  <!-- /.login-box-body -->
</div>