

.skin-blue .sidebar-menu > li.active > a {
    border-left-color: #3c8dbc;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{
               color: #ffffff;
               background: #111517!important;
}